.about p {
  color: black;
  line-height: 1.7;
}

.about {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin: 20px
}

.about h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
}
