.navbar {
  width: 100%;
}

.logo-contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.contact-buttons {
  display: flex;
  gap: 3rem;
  margin-right: 1rem;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding-left: 2rem;
  padding-right: 6rem;
  color: white;
  background-color: grey;
  clip-path: polygon(0 0, 100% 0, calc(100% - 80px) 100%, 0 100%);
}

.navbar-banner {
  width: 100%;
  background-color: #daddd8;
  display: flex;
  justify-content: center;
}

.navbar-links {
  list-style-type: none;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbar-link a {
  text-decoration: none;
  color: black;
}

